---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

MH1811 Mathematics 2, Teaching Assistant and Tutor, NTU SPMS, Spring 2023<br />

MH1811 Mathematics 2, Teaching Assistant and Tutor, NTU SPMS, Fall 2022<br />

MH1810 Mathematics 1, Teaching Assistant and Tutor, NTU SPMS, Fall 2022<br />

MH1811 Mathematics 2, Teaching Assistant and Tutor, NTU SPMS, Spring 2022<br />

MH1805 Calculus, Teaching Assistant and Tutor, NTU SPMS, Fall 2021<br />

MH1810 Mathematics 1, Teaching Assistant and Tutor, NTU SPMS, Fall 2021<br />



<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
